$primary: #31425f;
$danger: #86001A;
$sccs-accent: #f46523;
.sccs-accent-color {
  color: $sccs-accent;
}

$body-bg: #f1f1f1;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$dropdown-dark-link-hover-color: $sccs-accent;
$dropdown-dark-link-hover-bg: $primary;
$dropdown-dark-link-active-color: $sccs-accent;

$form-text-color: #495057;

$input-bg: white;

$font-family-base: 'Raleway', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';

$light: #d1d1d1;

//---------------------------------------------
// 4. Bootstrap Container Width
//---------------------------------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);